// Media

$mobile: 768px;
$desktop: 1440px;

// Primary

$text-primary-dark: hsl(238, 29%, 16%);
$text-primary-red: hsl(14, 88%, 65%);

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Text

$text-secondary-dark: hsl(237, 12%, 33%);
$text-secondary-blue: hsl(240, 6%, 50%);

// Dividers

$divider: hsl(240, 5%, 91%);

// Font size

$font-size: 12px;

// Font

$font-family: "Kumbh Sans", sans-serif;
$font-normal: 400;
$font-bold: 700;

$font-title: 2.5em;
$font-h3: 1.5em;
