@import "reset";
@import "color";

body {
  font-family: $font-family;
  font-size: $font-size;
  background-color: $soft-violet;
  padding: 200px 20px;
}

h1 {
  font-size: $font-title;
  font-weight: $font-bold;
  margin-bottom: 30px;
}

.page {
  position: relative;
  border-radius: 30px;
  margin: 0 auto 20px;
  max-width: 800px;

  background-color: white;
  align-items: center;
}
.container {
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  padding: 30px;
}
.collapse {
  border-bottom: 1px solid $divider;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.collapse-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;

  h3 {
    color: $text-secondary-dark;
    font-size: $font-h3;

    &:hover {
      color: $text-primary-red;
    }
    &.active {
      color: $text-primary-dark;
      &:hover {
        color: $text-primary-red;
      }
    }
  }
}

.collapse-content {
  margin-bottom: 20px;
  p {
    color: $text-secondary-blue;
    font-weight: $font-normal;
    line-height: 1.45em;
  }
}

@media (max-width: $mobile) {
  h1 {
    text-align: center;
  }

  .page {
    padding-top: 100px;
    min-width: 200px;
    .ilustration-box {
      display: none;
    }
  }

  .ilustration {
    position: absolute;
    top: -10px;
    width: 266px;
    height: 196px;
    background-image: url("../images/illustration-woman-online-mobile.svg"),
      url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .collapse-content {
    display: none;
  }
}

@media (min-width: $mobile) {
  .page {
    max-width: 1100px;
    height: 688px;
  }
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    padding-top: 100px;
  }

  .ilustration {
    z-index: 1;
    position: absolute;
    background-image: url("../images/illustration-woman-online-desktop.svg"),
      url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: 155px 80px, -340px -220px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    top: 0px;
    left: -220px;
  }

  .ilustration-box {
    position: absolute;
    left: -92px;
    bottom: 300px;
    z-index: 2;
  }

  .collapse-content {
    display: none;
  }
}
